@import "tailwindcss";

@font-face {
    font-family: "Black Han Sans";
    font-style: normal;
    font-weight: 400;
    src: url("./fonts/blackhansans-regular.ttf") format("truetype");
}

@font-face {
    font-family: "Retail Demo";
    font-style: normal;
    font-weight: 400;
    src: url("./fonts/retaildemo-regular.otf") format("opentype");
}

@font-face {
    font-family: "Retail Demo";
    font-style: normal;
    font-weight: 700;
    src: url("./fonts/retaildemo-bold.otf") format("opentype");
}

@theme {
    --color-cream: #A6977B;
    --color-darker-cream: #736855;
    --color-topbar: #5CA9B9;
    --font-sans: "Retail Demo", sans-serif;
}