@import "tailwindcss";

@font-face {
    font-family: "Black Han Sans";
    font-style: normal;
    font-weight: 400;
    src: url("./fonts/blackhansans-regular.ttf") format("truetype");
}

@font-face {
    font-family: "Retail Demo";
    font-style: normal;
    font-weight: 400;
    src: url("./fonts/retaildemo-regular.otf") format("opentype");
}

@theme {
    --color-cream: #A6977B;
    --font-sans: "Black Han Sans", sans-serif;
    --font-retail-demo: "Retail Demo", sans-serif;
}